/*FUENTE*/
body,main,nav{
    font-family: inherit;
}
.rownav{
    width: 100%;
}
/*LOGO*/
.logo a img {
    width: 9rem;
}
span.nombre{
    position: absolute;
    margin-left: -75px;
    font-size: 24px;
}
/*BOTON CONTACTO*/
a.bt-contact,a.bt-contact2{
    border-radius: 0.938rem;
    text-decoration: none;
    background: transparent;
    color: white;
    transition: all 0.5s ease;
}
a.bt-contact:hover{
    background: white;
    color: #6cbbfe;
}
a.bt-contact2:hover{
    background: white;
    color: #6cbbfe;
}
.redes{
    position: absolute;
    margin-left: 30px;
    margin-top: 10px;
}
.redes a{
    padding: 5px;
}
.redes a svg{
    height: 35px;
}

/*BOTON CONTACTO*/

/*MENU*/
button.bt-menu{
    top: 12.5px;
    width: 40px;
    height: 40px;
    left: 44%;
    border: 1px Solid white;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
}
/*HAMBUERGESA Y CRUZ DEL MENU*/
.animated-icon2{
    transform: rotate(0deg);
}
.animated-icon2 span{
    position: absolute;
    height: 3px;
    width: 20px;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    margin-left: -3px;
}
.animated-icon2 span {
    background: white;
}
.animated-icon2 span:nth-child(1) {
    top: -10px;
}
.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 0px;
}
.animated-icon2 span:nth-child(4) {
    top: 10px;
}
.animated-icon2.open span:nth-child(1),.animated-icon2.open span:nth-child(4) {
    top: 0px;
    width: 0%;
    left: 50%;
}
.animated-icon2.open span:nth-child(2) {
    transform: rotate(45deg);
}
.animated-icon2.open span:nth-child(3) {
    transform: rotate(-45deg);
}
/*HAMBUERGESA Y CRUZ DEL MENU*/
li a.activo{
    color: #1D67A6;
}
li a.activo:hover{
    color: #1D67A6;
}
a.activo-contact{
    background: white!important;
    color: #6cbbfe!important;
}
/*EFECTO DEL MENU*/
.menu{
    margin-top: 1rem;
}
.menu a{
    position: relative;
    color: white;
}
.menu a:hover{
    color: white;
}
.menu a:before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 4px;
    background: white;
    transform: scaleX(0);
    /*desde donde aparece la linea*/
    transform-origin: center;
    /*tiempo y efecto de la animacion*/
    transition: transform 0.25s ease-in-out;
    border-radius: 50px;
}
.menu a:hover::before {
    transform: scaleX(1);
}

/*EFECTO DEL MENU*/

/*SECTION DEL HEADER*/
header section{
    background:linear-gradient(#5DA9EA,#266AA4);
}

h2{
    font-size: 42px!important;
}
header .posnav{
    width: 1000px;
}
img.logogrande{
    border-radius: 100%;
}
img.svgbase,img.svgizq,img.svgdere{
    left: 0;
    width: 100%;
}
img.svgbase{
    margin-top: 160px;
}
img.svgizq{
    margin-top: -23px;
}
img.svgdere{
    margin-top: -12px;
}
.pestañas{
    background-image: url(http://13.38.228.152/proyecto-final-daw/public/img/header/svgnav.svg);
    background-size: 100%;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    height: 115px;
    transition: 0.5s;
}

.svgs.home  {
    margin-top: -5%;
}
.svgs.portfolio,.svgs.roadmap,.svgs.contact,.svgs.proyecto{
    margin-top: -8%;
}

.fondo{
    padding-top: 225px;
}


/*MAIN*******************************/
section.main{
    padding-bottom: 10rem;
}
.primera{
    margin-top: -385px;
}
.segunda,.tercera{
    margin-top: -320px;
}
.cuarta{
    margin-top: -335px;
}
.titulo{
    margin-bottom: 15rem;
}
.tercera .titulo{
    margin-bottom: 15rem;
}
.titulo .logo{
    width: 16.5%;
}
.primera h1{
    font-size: 50px;
    margin-top: 15px;
}

/*1ºPARTE HOME*/
/*CARROUSEL*/
.container .swiper-slide .card-description {
    padding: 1rem 1rem;
    box-shadow: 0px 0px 10px 0px #888888;
    border-radius: 25px;
}
.card-text{
    font-size: 18px;
}
.card-description img{
    width: 75%;
}
/*FLECHITAS*/
.swiper-button-next,.swiper-button-prev{
    position: relative !important;
    color: transparent!important;
    transition: 0.5s;
}
.swiper-button-prev{
    left: 40px!important;
}
.swiper-button-next{
    right: -15px!important;
}
.swiper-button-prev,.swiper-button-next,.swiper-button-prev:hover,.swiper-button-next:hover{
    background-repeat: no-repeat;
    background-size: contain;
}
.swiper-button-prev{
    background-image: url(http://13.38.228.152/proyecto-final-daw/public/img/home/carousel/left.png);
}
.swiper-button-next{
    background-image: url(http://13.38.228.152/proyecto-final-daw/public/img/home/carousel//right.png);
}
.swiper-button-prev:hover{
    background-image: url(http://13.38.228.152/proyecto-final-daw/public/img/home/carousel/left-hover.png);
}
.swiper-button-next:hover{
    background-image: url(http://13.38.228.152/proyecto-final-daw/public/img/home/carousel/right-hover.png);
}
/*CARROUSEL*/


/*BOTON LEARN*/
a.bt-learn{
    background-color: #66B3F6;
    text-decoration: none;
    border-radius: 1.563rem;
    transition: all 0.5s ease;
    color: white;
}
a.bt-learn:hover{
    background: white;
    color: #6cbbfe;
    border: 1px Solid #6cbbfe;
}
/*BOTON LEANR*/
/*1ºPARTE HOME*************************************************/

/*2ºPARTE HOME**************************************************/
.container2{
    padding-bottom: 42rem;
}
.presentacion{
    background: #1D67A6;
}
.descripcion{
    padding-bottom: 170px;
}
.container2 .tabla{
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 14.5rem;
}
.front{
    padding-bottom: 1.89rem;
    border-top-left-radius: 1.563rem;
    border-bottom-left-radius: 1.563rem;

}
.extras{
    border-top-right-radius: 1.563rem;
    border-bottom-right-radius: 1.563rem;
}
svg.logoback{
    margin-top: 0.89rem;
    margin-bottom: 0.8rem;
}
.conocimientos{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 0.5px Solid #8D8D8D;
}
.tools{
    padding-left: 0px;
}
.txtazul{
    color: #2098FF;
}
/*2ºPARTE HOME**************************************************/

/*3ºPARTE HOME**************************************************/
/*CAJAS PROYECTOS*/
.cajaprojecto{
    border-radius: 25px;
    border: 0.5px Solid #8D8D8D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.santa img,.crash img,.anime img{
    width: 90%;
}
.santa{
    background: #EF773C;
}
.santa img{
    margin-left: -15px;
}
.crash{
    background: #003988;
}
.anime{
    background: #ffaa00;
}
.overlay{
    background: linear-gradient(#6DBCFF,#1D67A6) ;
    height: 14.75rem;
    width: 20.625rem;
    opacity: 0;
    transition: .45s ease-in-out;
    margin-top: -235px;
    margin-left: -13px;
    border-radius: 25px;
}
.overlay:hover{
    opacity: 1;
}
.overlay p.texto{
    margin: 2rem 1.75rem 2rem 1.75rem;
    font-size: 1.25rem;
}
/*CAJAS PROYECTOS*/
/*BOTON VIEW*/
a.bt-view{
    text-decoration: none;
    border-radius: 1.563rem;
    transition: all 0.5s ease;
    background: white;
    color: #6cbbfe;
    border: 1px Solid #6cbbfe;
}
a.bt-view:hover{
    background:  #6cbbfe;
    color: white;
}
/*BOTON VIEW*/
figure.cajaprojecto img{
    transform: scale(1);
    transition: .25s ease-in-out;
}
/*BOTON VISIT*/
a.bt-visit{
    text-decoration: none;
    border-radius: 1.563rem;
    transition: all 0.5s ease;
    color: white;
    border: 2px Solid #6cbbfe;
    font-size: 1.5rem;
}
a.bt-visit:hover{
    background: #6cbbfe;
    color: white;
}
/*BOTON VISIT*/
/*3ºPARTE HOME****************************************************/

/*4ºPARTE HOME****************************************************/
/*4ºPARTE HOME***/

/*1ºPARTE PORTFOLIO***********************************************/
.filtros{
    margin-top: -1.5rem;
}
a.filtro{
    border-radius: 25px;
    background: white;
    border: 1px solid #6cbbfe;
    color: #6cbbfe;
    transition: all 0.5s ease;
    text-align: -webkit-center;
}
.filtro:hover{
    background: #1D67A6;
    color: white;
    margin-top: 10px;
}
.nombre-filtro{
    color: white;
    font-size: 15px;
    display: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.filtros a.ct_item-active{
    background: #1D67A6;
    color: white;
}
a.filtro1{
    padding: 12px 0;
}
/*1ºPARTE PORTFOLIO********************************************/

/*2ºPARTE PORTFOLIO*******************************************/
/*EFECTO DESAPARECION*/
.proyectos .proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transition: all .4s;
}
.container .card{
    position: relative;
    width: 430px;
    height: 250px;
    overflow: hidden;
    border: none;
}
.container .card .imgBx,
.container .card .contentBx{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .card .imgBx img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 1px solid #0163ff;

}
.proyecto1::before,.proyecto2::before,.proyecto3::before,.proyecto4::before{
    background-size: cover;
    content: '';
    background-repeat: no-repeat;
}

.proyectos .card .contentBx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-250px);
    transition: transform 0.5s ease-in-out;
    transform-origin: top;
    transition-delay: 0.25s;
    border-radius: 15px;
    filter: brightness(0.65);
    background-image:  var(--hover);
    background-size: cover;
}
/*imagen de fondo del hover*/
.proyectos .card:hover .contentBx::before{
    transform: translateY(0px);
    transition: transform 0.5s ease-in-out;
    transform-origin: top;
    transition-delay: 0s;
}
.proyectos .card .contentBx{
    display: flex;
    flex-direction: column;
}
.proyectos .card .contentBx .content{
    z-index: 1;
    transition: 0.5s;
    transform: translateY(-175px);
    transition-delay: 0s;
}
.proyectos .card:hover .contentBx .content{
    transform: translateY(0px);
    transition-delay: 0.5s;
}
.proyectos .card .contentBx .content2{
    z-index: 2;
    transition: 0.5s;
    transform: translateY(175px);
    transition-delay: 0s;
}
.proyectos .card:hover .contentBx .content2{
    transform: translateY(50px);
    transition-delay: 0.75s;
}
/*EFECTO DESAPARECION*/
/*HOVER PROYECTOS*/
.contentBx .row{
    list-style-type: none;
    display: inline-block;
}
span.tecnicas{
    background: #66B3F6;
    color: white;
    border: 1px Solid white;
    border-radius: 20px;
    padding: 5px 10px;
}
/*HOVER PROYECTOS*/
/*2ºPARTE PORTFOLIO************************************/

/*VER PROYECTO*************************************/
img.carrousel-proyecto{
    border-radius: 25px;
}
a.bt-web{
    background: #67B4F6;
    border-radius: 15px;
    padding: 15px 10px;
    font-size: 14px;
}
ul.tecnicas{
    margin-left: -10px;
}
a.bt-izq,a.bt-der{
    position: fixed;
    top: 45%;
}
.bt-izq{
    left: 2.5%;
}
.bt-izq span, .bt-der span{
    position: relative;
    z-index: -10;
}
.bt-der{
    right: 2.5%;
}
.carousel-indicators{
    align-items: center;
    margin: 0 20% -5rem 20%!important;
}
.carousel-indicators [data-bs-target]{
    width: 15px!important;
    height: 15px!important;
    border-radius: 100%;
    background-color: #6AB8FB!important;
}
.carousel-indicators .active{
    width: 30px!important;
    height: 30px!important;
    background-color: #1D67A6!important;
}

.carousel-control-prev:hover{
    border-radius: 25px 0px 0px 25px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
}
.carousel-control-next:hover{
    border-radius: 0px 25px 25px 0px;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
}
.bt-visitweb{
    margin-right: 7rem!important;
}

/*VER PROYECTO**************************************/

/*ROADMAP**********************************/
#roadmap{
    height: 200rem;
}




/*ROADMAP**********************************/

/*CONTACTO************************************/
:focus{outline: none;}
.name, .email{
    width: 46.75%!important;
    position: relative;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.subject{
    width: 96.5%!important;
    position: relative;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
input[type="text"],textarea{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}
.message{
    width: 96.5%!important;
    position: relative;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.name{
    margin-right: 0.5rem;
}
.email{
    margin-left: 0.5rem;
}
/*EFECTO INPUTS*/
.effect-20{
    border: 1px solid #ccc;
    padding: 7px 14px;
    transition: 0.4s;
    background: transparent;
}
.effect-20 ~ .focus-border:before,
.effect-20 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.3s;}
.effect-20 ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.effect-20 ~ .focus-border i:before,
.effect-20 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #3399FF; transition: 0.4s;}
.effect-20 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.effect-20:focus ~ .focus-border:before,
.effect-20:focus ~ .focus-border:after,
.has-content.effect-20 ~ .focus-border:before,
.has-content.effect-20 ~ .focus-border:after{width: 100%; transition: 0.3s;}
.effect-20:focus ~ .focus-border i:before,
.effect-20:focus ~ .focus-border i:after,
.has-content.effect-20 ~ .focus-border i:before,
.has-content.effect-20 ~ .focus-border i:after{height: 100%; transition: 0.4s;}
.effect-20 ~ label{position: absolute; left: 14px; top: 7px; color: #aaa; transition: 0.3s; z-index: 0; letter-spacing: 0.5px;}
.effect-20:focus ~ label, .has-content.effect-20 ~ label{top: -18px; left: 0; font-size: 12px; color: #3399FF; transition: 0.3s;}
/*EFECTO INPUTS*/
/*CONTACTO************************************/

/*BOX PREFOOTER********************/
footer .prefooter{
    height: 10.313rem;
    background-color: #1D67A6;
    border-radius: 1.563rem;
    bottom: 105%;
    left: 8%;
}

/*FOOTER************************************/
footer{
    background-image: linear-gradient(0deg,#266AA4,#6DBCFF);
    height: 100%;;
    padding-top: 6.5rem;
}

/*REDES DEL FOOTER*/
a.bt-redes{
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    border: 1px Solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    transition: all 0.5s ease;
    color: white;
}
a.bt-redes:hover{
    background: white;
    color: #438cc9;
}
/*REDES DEL FOOTER*/

/*IMAGENES DEL FOOTER*/
.herramientas{
    margin-left: -15px!important;
}
.made{
    width: 9% !important;
    margin-right: 50px;
}
img.logolaravel{
    height: 4rem;
}
img.logoboostrap{
    height: 3rem;
}
/*IMAGENES DEL FOOTER*/
/*FOOTER*****************************************/

/*BOTON PARA SUBIR************************************/
.ir-arriba{
    display:none;
    font-size:30px;
    color:#0088ff;
    cursor:pointer;
    position:fixed;
    bottom:0;
    right: 48.2%;
    z-index:10;
    height: 105px;
}
/*BOTON PARA SUBIR********************************/

/*PANTALLA DE CARGA*************************/
.arriba,.abajo{
    position: fixed;
    width: 100%;
    left: 0%;
    z-index: 20;
}
.arriba{
    animation: adios 1s reverse ease-out;
    top:0%;
    height: 0%;
}
@keyframes adios {
    from{
        height: 0%;
    }
    33%{
        height: 100%;
    }
    to{
        height: 100%;
    }
}
.abajo{
    animation: hola 1s reverse ease-out;
    top:100%;
    height: 0%;
}
@keyframes hola {
    from{
        top:100%;
        height: 0%;
    }
    33%{
        height: 100%;
        top:0%;
    }
    to{
        height: 100%;
        top:0%;
    }
}
/*PANTALLA DE CARGA********************/

/*EFECTO CAMBIAR PROPIEDADES NAV AL DESLIZAR*/
.navPrincipal .container {
    font-size: 1.75rem;
}
header section .container{
    margin-top: 115px;
    transition: 0.5s;
}
li.portfolio{
    margin: 0 1.5rem;
}
.navPrincipal{
    top:0;
    left:0;
    width: 100%;
    display: flex;
    z-index: 15;
    transition: 0.5s;
    background: linear-gradient(#6DBCFF,#5DA9EA);
}
/*EFECTO CAMBIAR PROPIEDADES NAV AL DESLIZAR*/



/*RESPONSIVE***************************************/
@media (max-width: 1600px){
    .primera{
        margin-top: -365px;
    }
    .primera h1{
        margin-top: 45px;
    }
    .segunda{
        margin-top: -300px!important;
    }
}
@media (max-width: 1440px) {
    ul.menu{
        margin-top: 10px!important;
    }
    li.mx-4{
        margin: 0 0.25rem!important;
    }
    .primera {
        margin-top: -325px;
    }
    .primera h1{
        margin-top: 0;
    }
    .segunda{
        margin-top: -290px!important;
    }
    .overlay{
        width: 17.85rem;
        height: 12.5rem;
        margin-top: -200px;
    }
    .overlay p.texto{
        margin-top: 1rem;
    }
    logoempresa-1{
        margin-left: -150px;
    }
    footer .prefooter{
        left: 1%;
        right: 1%;
    }
    .container2 .tabla{
        left: 51%;
    }
    a.filtro{
        height: 10% !important;
    }
    .swiper-button-prev{
        left:30px!important;
    }
}
@media (max-width: 1200px) {
    ul.menu{
        margin-top: 5px!important;
        font-size: 1.5rem;
    }
    li.portfolio{
        margin: 0;
    }
    .container2 .tabla{
        margin-top: 17rem;
    }
    .overlay{
        width: 15rem;
        height: 10.55rem;
        margin-top: -167px;
    }
    .overlay p.texto{
        font-size: 1rem;
    }
    a.bt-visit{
        font-size: 1rem;
    }
    .container2{
        padding-bottom: 48rem;
    }
    .herramientas {
        margin-left: -110px!important;
    }
    .made{
        width: 10% !important;
        margin-right: 0!important;
    }
    a.filtro1{
        font-size: 14px;
    }
    .swiper-container{
        z-index: -5;
    }
    .swiper-button-prev{
        left: 20px!important;
    }

    .swiper-button-prev{
        left:20px!important;
    }
    h1{
        font-size: 40px!important;
    }
    h2{
        font-size: 32px!important;
    }
    .primera {
        margin-top: -275px;
    }
    .segunda{
        margin-top: -310px;
    }
    .fondo{
        padding-top: 160px;
    }
    .titulo{
        margin-bottom: 12rem;
    }

}
@media (max-width: 990px) {
    ul.menu{
        margin-top: 0!important;
        font-size: 1.25rem;
    }
    .menu a::before {
        left: 5px;
        width: 90%;
        bottom: 8px;
    }
    .titulo .logo {
        width: 25%;
    }
    .container2 .tabla{
        margin-top: 55rem;
        left: 51.5%;
    }
    .front{
        border-top-left-radius: 1.563rem;
        border-top-right-radius: 1.563rem;
        border-top-left-radius: 1.563rem;
        border-bottom-left-radius: 0rem;
    }
    .extras{
        border-top-right-radius: 0rem;
        border-bottom-left-radius: 1.563rem;
        border-bottom-right-radius: 1.563rem;
        padding-bottom: 0;
    }
    .container2{
        padding-bottom: 125rem;
    }
    .logoempresa-1{
        margin-left: 0px;
    }
    .logoempresa-2 {
        margin-left: 50px;
    }
    .logoempresa-1 img{
        width: 125%;
    }
    .logoempresa-2 img{
        width: 50%;
    }
    .logoempresa-3 img{
        width: 100%;
    }
    .overlay{
        width: 22.5rem;
        height: 16.3rem;
        margin-top: -260px;
        font-size: 1.25rem;
        padding-top: 30px;
    }
    .overlay p.texto,.overlay a.bt-visit{
        font-size: 1.25rem;
    }
    .herramientas {
        margin-left: -110px!important;
    }
    .made{
        width: 13% !important;
        margin-right: 0!important;
    }
    .boost{
        margin-left: 75px;
    }
    .cajaprojecto{
        width: 50% !important;
    }
    a.filtro1{
        padding: 6px;
        font-size: 12px!important;
    }
    .swiper-button-prev{
        left: 0px!important;
    }
    .segunda{
        margint-top:-285px
    }
    h1{
        font-size: 35px!important;
    }
}
@media (max-width: 770px) {
    footer .prefooter{
        left: 5% !important;
        right: 5%!important;
    }
    .container{
        max-width: 670px!important;
    }
    .logo-cabeza{
        width: 20% !important;
        z-index: 1;
        transform: var(--logo,translateX(0px) translateY(0px));
        transition: transform 0.5s ease-in-out;
    }

    .pestañas{
        background-image: none;
        width: 60% !important;
        padding-bottom: 0;
    }
    .contacto{
        width: 10% !important;
        font-size: 1.25rem;
        z-index: 1;
    }
    .container2 .tabla{
        margin-top: 54rem;
        left: 52%;
    }
    .logoempresa-1 img{
        width: 65%;
    }
    .logoempresa-2{
        margin-left: 0;
    }
    .logoempresa-2 img{
        width: 15%;
    }
    .logoempresa-3 img{
        width: 70%;
    }
    figure{
        width: 65%!important;
    }
    .overlay{
        width: 21rem;
        height: 15rem;
        margin-top: -240px;
        padding-top: 20px;
    }
    .made{
        width: 17% !important;
        margin-right: 0!important;
    }
    .boost{
        margin-left: 110px;
    }
    .card-description{
        height: 210px!important;
    }
    .swiper-button-next{
        right: 0px!important;
    }
    h1{
        font-size: 30px!important;
    }
}
@media (max-width: 580px)   {
    .contacto{
        font-size: 1.15rem;
        margin-left: -25px;
    }
    .container2 .tabla{
        left: 52.5%;
        margin-top: 56rem;
    }
    .container2{
        padding-bottom: 130rem;
    }
    figure.cajaprojecto{
        width: 65% !important;
    }
    .overlay{
        width: 22.55rem!important;
        height: 16.2rem!important;
        margin-top: -258px!important;
        padding-top: 30px!important;
    }
    footer{
        padding-top: 10rem;
    }
    footer .prefooter{
        width: 80%;
        left: 13%!important;
        height: 16rem;
    }
    .prefooter .info1{
        margin-top: 10px;
        width: 70%;
    }
    .prefooter .info2{
        width: 80%!important;
        margin-bottom: 10px;
    }
    .prefooter .info3{
        width: 60%;
        margin-bottom: 10px;
    }
    .made{
        width: 80% !important;
        margin-right: -80px!important;
    }
    .laravel{
        width: 40% !important;
        margin-left: 45px;
    }
    .boost{
        width: 10% !important;
        margin-left: 40px!important;
    }
    .filtro{
        width: 15% !important;
    }
    .nombre-filtro{
        display: none;
    }
    a.filtro1{
        padding: 8px;
    }
    .proyecto{
        width: 350px!important;
        height: 202px!important;
    }
    .card-description img{
        width: 75% !important;
    }
    .col-sm-10{
        flex: 0 0 auto;
        width: 70% !important;
    }
    .col-sm-1{
        flex: 0 0 auto;
        width: 15% !important;
    }
    .swiper-button-prev{
        left: -10px!important;
    }
    .titulo .logo {
        width: 50%;
        margin: 1rem auto;
    }
    span.tecnicas{
        font-size: 12.5px;
    }
    .proyectos .card:hover .contentBx .content2{
        transform: translateY(25px);
        transition-delay: 0.75s;
    }

}
@media (max-width: 460px) {
    h1{
        font-size: 2rem!important;
    }
    .primera {
        margin-top: -310px;
    }
    .fondo{
        padding-top: 375px;
    }
    .titulo {
        margin-bottom: 8rem;
    }
    .logo-cabeza{
        margin-top: -40px!important;
    }
    .contacto{
        font-size: 1rem;
        margin-left: -35px!important;
        margin-top: -35px!important;
        transform: var(--contacto,translateX(0px) translateY(0px));
        transition: transform 0.5s ease-in-out;
    }
    .container2{
        padding-bottom: 138rem;
    }
    .container2 .tabla{
        margin-top: 63rem;
    }
    .overlay {
        width: 16rem!important;
        height: 11.2rem!important;
        margin-top: -179px!important;
        padding-top: 0!important;
    }
    .overlay p.texto{
        margin-bottom: 1rem;
    }
    .overlay p.texto, .overlay a.bt-visit{
        font-size: 1.05rem;
    }
    .made{
        width: 70% !important;
        margin-right: -85px!important;
    }
    .laravel{
        width: 50% !important;
        margin-left: 50px;
    }
    .boost{
        margin-left: 30px!important;
    }
    a.filtro1{
        height: 50px!important;
        font-size: 12px;
        padding-top: 8px!important;
    }
    .prefooter .info1{
        width: 80%;
        font-size: 1.5rem!important;
    }
    .prefooter .info2{
        font-size: 1.15rem!important;
    }
    nav::before{
        background-image: url(http://35.181.8.108/proyecto-final-daw/public/img/header/svgmenu.png);
        content: '';
        position: absolute;
        background-size: 100%;
        width: 100%;
        height: 220px;
        background-repeat: no-repeat;
        transform: var(--before,translateY(-130px));
        transition: transform 0.5s ease-in-out;
        z-index: 0;
        background-position-y: 10px;
    }
    .menu a:before {
        content: none;
    }
    ul.menu a{
        font-size: 16px;
        background-color: white;
        color: #67B4F7;
        border-radius: 1rem;
    }
    .collapse{
        transition: transform 0.25s ease-in-out;
        transform: var(--collapse);
    }
    ul.menu a:hover{
        color: #1D67A6;
    }
    .ir-arriba{
        right:42.5%;
    }
    li.home{
        margin: 10px 0 5px 0;
    }
    li.portfolio{
        margin: 0 0 5px 0;
    }
    .nav-link{
        padding: 0.25rem!important;
    }
    .fijar.svgs{
        position: fixed;
        width: 100%;
        background-color: #2c70ab;
        transform: var(--svg,translateY(-265px));
        z-index: 15;
    }
    .navPrincipal{
        background: transparent;
        transition: none;
        position: fixed;
    }
    .fijar.navPrincipal{
        background: #2c70ab;
    }
    .titulo .logo {
        width: 45%;
    }
    section.main {
        padding-bottom: 10rem;
    }

    .redes{
        margin-left: -15px;
        margin-top: 5px;
    }
    .redes a svg{
        height: 28px;
    }

}


